html {

	text-align: center;

}

body {
	color: gray;
header {
	margin-top: 6%;
}

#container {
	overflow: auto;
}





img {
	height: 350px;
	width: 80%;
	border: 5px solid black;
	margin-left: 9.5%;
}

.content {
  width: 70%;
  border: 5px solid black;
  height: 400px;
  margin-top: 50px;
  margin-left: 250px;
}

.clearspacer {
  height: 15px;
  width: 20%;
  float: top;
}




nav { 

  width: 50%;
  height: 10%;
  left: 1px;
  top: 1px;
  border: 1px solid black;
  position: absolute;
  background-color: #B29B43;

}
li {
  display: inline-block;
  padding: 1%;
  font-size: 20px;
 /* margin-left: 340px;*/
}

