

nav {
  width: 30%;
  height: 10%;
  border: 1px solid blue;
  position: fixed;
  left: 0;
  top: 0;
  
  background-color: pink;
}
li {
  display: inline-block;
}

#banner {
	height: 350px;
	width: 1024px;
